<app-navbar></app-navbar>

<h3 class="dashboard-title px-5" style="color: grey; font-size: 18px;padding: 1rem;">A collection recommanded for you</h3>
<div class="dashboard-content px-5">

    <a href="/shoe" class="dashboard-card">
        <img class="card-image" src="images (1).jpg" alt="">
        <div class="card-detail">
            <h4>Amazing Pizza<span>100fb</span></h4>
            <p>lorem ipum dolar site</p>
            <!-- <p class="card-time"><span class="fas fa-clock">15-30mins</span></p> -->
            <button id="add-card">Add card</button>

        </div>
    </a>
    <div class="dashboard-card">
        <img class="card-image" src="images (1).jpg" alt="">
        <div class="card-detail">
            <h4>Amazing Pizza<span>100fb</span></h4>
            <p>lorem ipum dolar site</p>
            <p class="card-time"><span class="fas fa-clock">15-30mins</span></p>
            <button id="add-card">Add card</button>

        </div>
    </div>
    <div class="dashboard-card">
        <img class="card-image" src="images (1).jpg" alt="">
        <div class="card-detail">
            <h4>Amazing Pizza<span>100fb</span></h4>
            <p>lorem ipum dolar site</p>
            <p class="card-time"><span class="fas fa-clock">15-30mins</span></p>
            <button id="add-card">Add card</button>

        </div>
    </div>
    <div class="dashboard-card">
        <img class="card-image" src="images (1).jpg" alt="">
        <div class="card-detail">
            <h4>Amazing Pizza<span>100fb</span></h4>
            <p>lorem ipum dolar site</p>
            <p class="card-time"><span class="fas fa-clock">15-30mins</span></p>
            <button id="add-card">Add card</button>

        </div>
    </div>
    <div class="dashboard-card">
        <img class="card-image" src="images (1).jpg" alt="">
        <div class="card-detail">
            <h4>Amazing Pizza<span>100fb</span></h4>
            <p>lorem ipum dolar site</p>
            <p class="card-time"><span class="fas fa-clock">15-30mins</span></p>
            <button id="add-card">Add card</button>

        </div>
    </div>
    <div class="dashboard-card">
        <img class="card-image" src="images (1).jpg" alt="">
        <div class="card-detail">
            <h4>Amazing Pizza<span>100fb</span></h4>
            <p>lorem ipum dolar site</p>
            <p class="card-time"><span class="fas fa-clock">15-30mins</span></p>
            <button id="add-card">Add card</button>

        </div>
    </div>
    <div class="dashboard-card">
        <img class="card-image" src="images (1).jpg" alt="">
        <div class="card-detail">
            <h4>Amazing Pizza<span>100fb</span></h4>
            <p>lorem ipum dolar site</p>
            <p class="card-time"><span class="fas fa-clock">15-30mins</span></p>
            <button id="add-card">Add card</button>

        </div>
    </div>
    <div class="dashboard-card">
        <img class="card-image" src="images (1).jpg" alt="">
        <div class="card-detail">
            <h4>Amazing Pizza<span>100fb</span></h4>
            <p>lorem ipum dolar site</p>
            <p class="card-time"><span class="fas fa-clock">15-30mins</span></p>
            <button id="add-card">Add card</button>

        </div>
    </div>
    <div class="dashboard-card">
        <img class="card-image" src="images (1).jpg" alt="">
        <div class="card-detail">
            <h4>Amazing Pizza<span>100fb</span></h4>
            <p>lorem ipum dolar site</p>
            <p class="card-time"><span class="fas fa-clock">15-30mins</span></p>
            <button id="add-card">Add card</button>

        </div>
    </div>
    <div class="dashboard-card">
        <img class="card-image" src="images (1).jpg" alt="">
        <div class="card-detail">
            <h4>Amazing Pizza<span>100fb</span></h4>
            <p>lorem ipum dolar site</p>
            <p class="card-time"><span class="fas fa-clock">15-30mins</span></p>
            <button id="add-card">Add card</button>

        </div>
    </div>
    <div class="dashboard-card">
        <img class="card-image" src="images (1).jpg" alt="">
        <div class="card-detail">
            <h4>Amazing Pizza<span>100fb</span></h4>
            <p>lorem ipum dolar site</p>
            <p class="card-time"><span class="fas fa-clock">15-30mins</span></p>
            <button id="add-card">Add card</button>

        </div>
    </div>
    <div class="dashboard-card">
        <img class="card-image" src="images (1).jpg" alt="">
        <div class="card-detail">
            <h4>Amazing Pizza<span>100fb</span></h4>
            <p>lorem ipum dolar site</p>
            <p class="card-time"><span class="fas fa-clock">15-30mins</span></p>
            <button id="add-card">Add card</button>

        </div>
    </div>
    <div class="dashboard-card">
        <img class="card-image" src="images (1).jpg" alt="">
        <div class="card-detail">
            <h4>Amazing Pizza<span>100fb</span></h4>
            <p>lorem ipum dolar site</p>
            <p class="card-time"><span class="fas fa-clock">15-30mins</span></p>
            <button id="add-card">Add card</button>

        </div>
    </div>
    <div class="dashboard-card">
        <img class="card-image" src="images (1).jpg" alt="">
        <div class="card-detail">
            <h4>Amazing Pizza<span>100fb</span></h4>
            <p>lorem ipum dolar site</p>
            <p class="card-time"><span class="fas fa-clock">15-30mins</span></p>
            <button id="add-card">Add card</button>

        </div>
    </div>
    <div class="dashboard-card">
        <img class="card-image" src="images (1).jpg" alt="">
        <div class="card-detail">
            <h4>Amazing Pizza<span>100fb</span></h4>
            <p>lorem ipum dolar site</p>
            <p class="card-time"><span class="fas fa-clock">15-30mins</span></p>
            <button id="add-card">Add card</button>

        </div>
    </div>
    <div class="dashboard-card">
        <img class="card-image" src="images (1).jpg" alt="">
        <div class="card-detail">
            <h4>Amazing Pizza<span>100fb</span></h4>
            <p>lorem ipum dolar site</p>
            <p class="card-time"><span class="fas fa-clock">15-30mins</span></p>
            <button id="add-card">Add card</button>

        </div>
    </div>
    <div class="dashboard-card">
        <img class="card-image" src="images (1).jpg" alt="">
        <div class="card-detail">
            <h4>Amazing Pizza<span>100fb</span></h4>
            <p>lorem ipum dolar site</p>
            <p class="card-time"><span class="fas fa-clock">15-30mins</span></p>
            <button id="add-card">Add card</button>

        </div>
    </div>
    <div class="dashboard-card">
        <img class="card-image" src="images (1).jpg" alt="">
        <div class="card-detail">
            <h4>Amazing Pizza<span>100fb</span></h4>
            <p>lorem ipum dolar site</p>
            <p class="card-time"><span class="fas fa-clock">15-30mins</span></p>
            <button id="add-card">Add card</button>

        </div>
    </div>
    <div class="dashboard-card">
        <img class="card-image" src="images (1).jpg" alt="">
        <div class="card-detail">
            <h4>Amazing Pizza<span>100fb</span></h4>
            <p>lorem ipum dolar site</p>
            <p class="card-time"><span class="fas fa-clock">15-30mins</span></p>
            <button id="add-card">Add card</button>

        </div>
    </div>
    <div class="dashboard-card">
        <img class="card-image" src="images (1).jpg" alt="">
        <div class="card-detail">
            <h4>Amazing Pizza<span>100fb</span></h4>
            <p>lorem ipum dolar site</p>
            <p class="card-time"><span class="fas fa-clock">15-30mins</span></p>
            <button id="add-card">Add card</button>

        </div>
    </div>
    <div class="dashboard-card">
        <img class="card-image" src="images (1).jpg" alt="">
        <div class="card-detail">
            <h4>Amazing Pizza<span>100fb</span></h4>
            <p>lorem ipum dolar site</p>
            <p class="card-time"><span class="fas fa-clock">15-30mins</span></p>
            <button id="add-card">Add card</button>

        </div>
    </div>
    <div class="dashboard-card">
        <img class="card-image" src="images (1).jpg" alt="">
        <div class="card-detail">
            <h4>Amazing Pizza<span>100fb</span></h4>
            <p>lorem ipum dolar site</p>
            <p class="card-time"><span class="fas fa-clock">15-30mins</span></p>
            <button id="add-card">Add card</button>

        </div>
    </div>
    <div class="dashboard-card">
        <img class="card-image" src="images (1).jpg" alt="">
        <div class="card-detail">
            <h4>Amazing Pizza<span>100fb</span></h4>
            <p>lorem ipum dolar site</p>
            <p class="card-time"><span class="fas fa-clock">15-30mins</span></p>
            <button id="add-card">Add card</button>

        </div>
    </div>
    <div class="dashboard-card">
        <img class="card-image" src="images (1).jpg" alt="">
        <div class="card-detail">
            <h4>Amazing Pizza<span>100fb</span></h4>
            <p>lorem ipum dolar site</p>
            <p class="card-time"><span class="fas fa-clock">15-30mins</span></p>
            <button id="add-card">Add card</button>

        </div>
    </div>
</div>